.tabela{
	 border: 3px solid #00C1DE;
	 font-size: 13px;
}

.tabela tr{
	 border: 3px solid #00C1DE;
}

.tabela td{
	 border: 3px solid #00C1DE;
	 padding-left: 4px;
	 color: #747578;
}

.tabela1{
	border:none;
}

.tabela1 tr{
	border:none;
}

.tabela1 td{
	border:none;
}